
.features-pic-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust gap between items as needed */
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 16px); /* Adjust width to fit four items in a row, considering the gap */
    box-sizing: border-box;
}

.feature-img {
    width: 135px;
    height: 98px;
}

.feature-item input[type="checkbox"] {
    margin-top: 0px; /* Adjust space between image and checkbox as needed */
}

.feature-item label {
    margin-top: 4px; /* Adjust space between checkbox and label as needed */
    font-family: Inter, sans-serif; /* Example font */
    font-size: 14px; /* Example size */
    font-weight: 400; /* Example weight */
    color: #333; /* Example color */
}

.feature-checkbox {
    width: 25px; /* Adjust width of the checkbox */
    height: 22px; /* Adjust height of the checkbox */
    margin-top: 8px; /* Adjust space between image and checkbox as needed */
}   

.feature-item:nth-child(n + 5) {
    margin-top: 3.5rem; /* Adjust this value as needed */
}



@media (max-width: 1200px) {
    .feature-item {
        width: calc(33.33% - 16px); /* Adjust width to fit three items in a row */
    }
}

@media (max-width: 900px) {
    .feature-item {
        width: calc(50% - 16px); /* Adjust width to fit two items in a row */
    }
}

@media (max-width: 600px) {
    .feature-item {
        width: 100%; /* Full width for single column on smaller screens */
        margin-top: 2rem; /* Adjust margin-top for better spacing */
    }

    .feature-item:nth-child(n + 5) {
        margin-top: 2rem; /* Adjust margin-top for better spacing */
    }

    .feature-img {
        width: 100px; /* Adjust image size for smaller screens */
        height: 72px; /* Adjust image size for smaller screens */
    }

    .feature-checkbox {
        margin-top: 4px; /* Adjust space between image and checkbox for smaller screens */
    }
}