/* .whole-form{
    width: 608px;
    height: auto;
    gap: 0px;
    border-radius: 16px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    background-color: #FFFFFF;
} */


.form{
    height: 276px;
    width: 608px;
    gap: 0px;
    border: 1px 1px 1px 1px;
    opacity: 0px;
    background-color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
}





.information{
    width: 518px;
    height: auto;
    margin-left: 7.5%;
    gap: 60px; 
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    margin-bottom: 2rem;
    background: white;
}

.imp {
    width: 7px;
    height: 7px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    margin-right: 5px; /* Adjust as needed */
    transform: translateY(-2px); /* Adjust vertical positioning */
}

.imp1{
    width: 7px;
    height: 7px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    margin-right: 5px; /* Adjust as needed */
    transform: translateY(-2px); /* Adjust vertical positioning */
    margin-bottom: 6px;
}

.identity {
    display: flex;
    align-items: center;
}


.radio-group {
    display: flex;
    align-items: center;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-right: 11rem; /* Space between radio buttons */
}

.radio-option input {
    width: 20px;
    height: 20px;
    margin-right: 20px; /* Space between radio button and label */
    
}

.name{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.name-marg{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.name label {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.11px;
    text-align: left;
    color: #000000;
  }
  
  .name-input {
    position: relative;
    margin-top: 4px;
  }
  
  .rec-box {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    box-sizing: border-box;
  } 

  .big-rec-box{
    width: 56%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .small-rec-box{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 0.5rem;
  }

  .or{
    margin-top: 1rem;
  }

.scrollbar {
    display: none;
}

.information::-webkit-scrollbar {
    width: 13px;
}

.information::-webkit-scrollbar-track {
    background: transparent;
}

.information::-webkit-scrollbar-thumb {
    background: #CDCDCD;
    border-radius: 8px;
}

