.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122B49;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.description {
    margin-right: 28rem;
    color: white;
    width: 40%;
}

.big {
    font-family: Merriweather Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 40.22px;
    text-align: left;
    margin-bottom: 8px;
}

.small {
    margin-top: 8px;
    font-family: Merriweather Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.11px;
    text-align: left;
}

.form-back {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%; /* Adjust width to percentage for responsiveness */
    max-width: 1068px; /* Limit maximum width for larger screens */
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem; /* Add padding to center content */
}

.steps {
    width: 100%; /* Full width */
    max-width: 364px; /* Limit maximum width */
    height: auto; /* Let height adjust based on content */
    padding: 24px 0;
    gap: 24px;
}

.steps-title {
    font-family: Merriweather Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.14px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.step-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.each-step {
    display: flex;
    align-items: center;
    width: 100%; /* Full width */
    max-width: 307px; /* Limit maximum width */
    height: 39px;
}

.each-step .tick {
    width: 46px;
    height: 39px;
}

.step-text {
    font-family: Merriweather Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    color: #FFFFFF;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 1200px) {
    .form-back {
        flex-direction: column;
        align-items: center;
    }

    .description {
        width: 80%;
        margin-right: 0;
        text-align: center;
    }

    .steps {
        max-width: 100%;
        padding: 24px;
    }

    .each-step {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .homepage {
        height: auto; /* Adjust height to content */
        padding: 2rem;
    }

    .description {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .form-back {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding: 1rem;
    }
}
