.header {
    display: flex;
    padding: 0 4rem;
    justify-content: space-between;
    align-items: center;
    background-color: #FCF8F4;
    overflow: hidden; /* Prevent horizontal scrolling */
  }
  
  .nav {
    margin-top: 1.5rem;
  }
  
  .nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0px;
  }
  
  .nav li {
    margin-left: 4rem; /* Reduce the margin between list items */
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 500;
  }
  
  .nav a:hover::after,
  .nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  
  .nav a:hover {
    text-decoration: none;
  }
  
  .nav a.active {
    text-decoration: none;
    color: black;
  }
  
  .hugelogo {
    height: 28px;
    padding: 0px 0 0px 0;
    opacity: 1; /* Ensure the logo is fully visible */
  }
  
  .logo {
    width: 105px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
  }

  @media (max-width: 1024px) {
    .header {
        padding: 0 2rem; /* Decrease padding for smaller screens */
    }
    
    .nav li {
        margin-left: 1.5rem; /* Adjust margin between list items for smaller screens */
    }
    
    .logo {
        width: 90px; /* Decrease logo width for smaller screens */
        height: 40px; /* Decrease logo height for smaller screens */
    }
}

  @media (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }
    
    .nav ul {
        flex-direction: column; /* Stack navigation items vertically on smaller screens */
    }
    
    .nav li {
        margin-left: 0; /* Remove margin between stacked list items */
        margin-bottom: 1rem; /* Add space between vertically stacked list items */
    }
}
  