    .small-card {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap; /* Prevent content from wrapping to the next line */
        min-width: 4rem;
        padding: 0px 20px; /* Adjusted padding to decrease height */
        gap: 10px;
        border-radius: 30px;
        border: 1px solid #D6D6D6;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        height: 2.5rem;
    }

    .small-card.clicked {
        background-color: hsl(0, 6%, 90%);
        color: black; 
    }
